/* GLOBAL */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Segoe UI", Roboto, Arial, sans-serif;
  background: linear-gradient(135deg, #eef2ff, #f8fafc);
  color: #1f2937;
}


/* PAGE CENTER */

.page {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 80px;
}


/* MAIN CARD */

.container {
  width: 420px;
  background: white;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 
    0 15px 35px rgba(0,0,0,0.08);

  animation: fadeIn 0.3s ease;
}


/* Animation */

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}


/* TITLES */

h1 {
  text-align: center;
  margin-bottom: 25px;
  font-size: 28px;
}

.title {
  color: #2563eb;
}



/* INPUTS */

input {
  width: 100%;
  padding: 12px 15px;

  margin-bottom: 15px;

  border-radius: 12px;
  border: 1px solid #d1d5db;

  font-size: 15px;

  outline: none;

  transition: 0.2s;
}


input:focus {
  border-color: #2563eb;
  box-shadow: 
  0 0 0 3px rgba(37,99,235,0.15);
}



/* BUTTONS */

button {
  border: none;

  padding: 12px 16px;

  border-radius: 12px;

  background: #2563eb;

  color: white;

  font-size: 15px;

  cursor: pointer;

  transition: 0.2s;
}


button:hover {
  background: #1d4ed8;
  transform: translateY(-1px);
}



/* LOGIN / REGISTER BUTTON */

.container > button {
  width: 100%;
}



/* SWITCH LOGIN REGISTER */

p {
  text-align: center;
  margin-top: 20px;

  color: #2563eb;

  cursor: pointer;

  font-size: 14px;
}


p:hover {
  text-decoration: underline;
}



/* TASK INPUT AREA */

.inputBox {

  display:flex;

  gap:10px;

  margin-bottom:20px;

}


.inputBox input {
  margin-bottom:0;
}



/* TASK LIST */

.list {
  margin-top:20px;
}



/* SINGLE TASK */

.task {

  display:flex;

  justify-content:space-between;

  align-items:center;


  padding:12px 15px;

  margin-bottom:12px;


  background:#f9fafb;

  border:1px solid #e5e7eb;

  border-radius:14px;


  transition:0.2s;
}



.task:hover {

  background:#f3f4f6;

  transform:scale(1.02);

}



/* TASK TEXT */

.task span {

  cursor:pointer;

  flex:1;

  font-size:16px;

}



/* COMPLETED TASK */

.done {

  text-decoration:line-through;

  color:#9ca3af;

}



/* DELETE BUTTON */

.task button {

  background:#ef4444;

  padding:7px 11px;

  border-radius:10px;

  margin-left:10px;

}



.task button:hover {

  background:#dc2626;

}



/* LOGOUT BUTTON */

.logout {
  background:#6b7280;
}


.logout:hover {

  background:#4b5563;

}

.logout {
  width: 100%;
  margin-bottom: 25px;
  background: #2565e3;
}

.title {
  margin-bottom: 15px;
}

.logout:hover {
  background: #4b5563;
}


/* MOBILE */

@media(max-width:500px){

  .container{

    width:90%;

    padding:20px;

  }


  .page{

    padding-top:40px;

  }

}